<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="payment">
	
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY seq ASC) AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
	
	<insert id="insertPayment">
        insert into payment (sales_seq, amount_date, member_id, payment_amount, status, regdate) values
        (#{sales_seq}, STR_TO_DATE (#{amount_date}, '%Y-%m-%d'), #{member_id}, #{payment_amount}, #{status}, now())
    </insert>
    <update id="updatePayment" >
        update payment set
         sales_seq = #{sales_seq}, amount_date=STR_TO_DATE (#{amount_date}, '%Y-%m-%d'), member_id = #{member_id}, 
         payment_amount = #{payment_amount}, status=#{status}, updatedate = now()
        where seq = #{seq}
    </update>    
    <delete id="deletePayment">
        delete from payment where seq = #{seq}
    </delete>
    <select id="selectAll" resultType="com.example.spring02.model.payment.dto.PaymentVO">
        select * from payment
    </select>
    <select id="detailView" resultType="com.example.spring02.model.payment.dto.PaymentVO">
		SELECT 
			*
		FROM payment
		WHERE seq = #{seq} 
	</select>
</mapper>
