<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="payment">
	
	<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (ORDER BY seq ASC) AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
	
	<insert id="insertPayment">
        insert into payment (sales_seq, amount_date, member_id, payment_amount, status, regdate) values
        (#{sales_seq}, STR_TO_DATE (#{amount_date}, '%Y-%m-%d'), #{member_id}, #{payment_amount}, #{status}, now())
    </insert>
    <update id="updatePayment" >
        update payment set
         sales_seq = #{sales_seq}, amount_date=STR_TO_DATE (#{amount_date}, '%Y-%m-%d'), member_id = #{member_id}, 
         payment_amount = #{payment_amount}, status=#{status}, updatedate = now()
        where seq = #{seq}
    </update>    
    <delete id="deletePayment">
        delete from payment where seq = #{seq}
    </delete>
    <select id="selectAll" resultType="com.example.spring02.model.payment.dto.PaymentVO">
    	select p.amount_date, sum(p.payment_amount) as payment_amount from
		(select amount_date, sum(payment_amount) as payment_amount from payment where member_id=#{userId} group by amount_date
    	union all
		select expected_date as amount_date, sum(payment_amount) as payment_amount from sales where sales_member=#{userId} group by expected_date
		) p group by amount_date
    </select>
    <select id="detailView" resultType="com.example.spring02.model.payment.dto.PaymentVO">
		SELECT 
			*
		FROM payment
		WHERE seq = #{seq} 
	</select>
	<select id="sumRegist" resultType="int">
		select 
			IFNULL(sum(s.payment_amount),0) as cnt
		from sales s 
		where 
			s.sales_member = #{userId} and pid = 1
	</select>
	<select id="sumSales" resultType="int">
		select
			IFNULL(sum(s.payment_amount),0) as cnt
		from sales s 
		where 
			s.sales_member = #{userId} and pid in (2,3,4,5)
	</select>
	<select id="sumEtc" resultType="int">
		select 
			IFNULL(sum(s.payment_amount),0) as cnt
		from sales s 
		where 
			s.sales_member = #{userId} and pid in (6, 7)
	</select>
	<select id="sumPayment" resultType="int">
		select 
			IFNULL(sum(s.payment_amount),0)
		from payment s 
		where 
			s.member_id = #{userId}
	</select>
	<select id="selectSales1" resultType="com.example.spring02.model.sales.dto.SalesVO">
        select * from sales where sales_member = #{userId} and pid in (1)
    </select>
	<select id="selectSales2" resultType="com.example.spring02.model.sales.dto.SalesVO">
        select * from sales where sales_member = #{userId} and pid in (2,3,4,5)
    </select>
	<select id="selectSales3" resultType="com.example.spring02.model.sales.dto.SalesVO">
        select * from sales where sales_member = #{userId} and pid in (6, 7)
    </select>
    <select id="selectPayment" resultType="com.example.spring02.model.payment.dto.PaymentVO">
        select p.*,
		(select m.name from member m where s.sales_member=m.userid) as sales_member_name,
		(select pr.product_name from product pr where s.pid = pr.pid) as product_name,
		 s.purchase_name as purchase_name,
		 s.purchase_date  purchase_date
		 from payment p, sales s
		 where member_id =  #{userId}
		 and s.seq = p.sales_seq
    </select>
    <select id="paymentList" resultType="com.example.spring02.model.payment.dto.PaymentVO">
		select p.amount_date, sum(p.payment_amount) as payment_amount, p.member_id, m.account, m.name as member_name from
		(
		select amount_date, sum(payment_amount) as payment_amount, member_id from payment where status in ('구매') group by amount_date, member_id
		union all
		select expected_date as amount_date, sum(payment_amount) as payment_amount, sales_member as member_id from sales where status in ('구매') group by expected_date, sales_member
		) p, member m where p.member_id = m.userid group by p.amount_date, p.member_id, m.account, m.name    
	</select>
	<update id="completePayment" >
        update payment set         
         status='지급완료', updatedate = now()
        where amount_date=STR_TO_DATE (#{amount_date}, '%Y-%m-%d') and member_id = #{member_id} 
    </update>   
    <update id="completeSales" >
        update sales set         
         status='지급완료', updatedate = now()
        where expected_date=STR_TO_DATE (#{amount_date}, '%Y-%m-%d') and sales_member = #{member_id}
    </update>   
</mapper>
